.edit-title-box{
    margin: 0px 16px;
    width: 100%;
    position: relative;
}
.Input-title, .Input-txt{
    font-family: inherit;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 600;
    padding: 0;
    /* 让滚动条自适应 */
    overflow:auto;
    /* 不显示边框 */
    border: 0;
    /* 最大宽度 */
    width: 100%;
    /* 取消掉选中后显示的边框 */
    outline: none;
    /* resize: none; 取消掉用户自由调整便签的大小，取消掉textarea右下角的阴影 */
    resize: none;
}
.Input-txt{
    font-size: 16px;
    line-height: 1.6;
    padding: 0 15px;
    font-weight: normal;
    /* 不显示上下的滚动条 */
    overflow-y: hidden;
}

.edit-toolbar{
    display: flex;
    width: 100%;
    padding: 4px 10px;
}
.edit-toolbar i{
    padding: 5px 10px;
}
.edit-toolbar i:hover{
    color: #222;
    background:#ddd;
    border-radius:2px;
    cursor: pointer;
}

.boke-submit-btn{
    width: 70px;
    height: 30px;
    border-radius: 3px;
    border: 1px #f5f5f5;
    cursor: pointer;
}
.boke-submit-btn:hover{
    background: #ddd;
}
